.headerPrincipal .container {
    align-items: initial;
    flex-direction: column;
    text-align: center;
}

.headerPrincipal-nav {
    flex-direction: column;
}

.contenidoPrincipal-cursos {
    flex-direction: column;
}

.contenidoPrincipal-cursos-link {
    width: 100%;
}